.main-window {
  min-width: 360px;
}

.discover-searchbar box {
  padding: 0px;
}

.episode-card {
  min-height: 360px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.episode-card .episode-title {
  margin-top: 8px;
}

.episode-card .episode-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
