.main-window {
  min-width: 360px;
}

.image-md {
  min-height: 328px;
  min-width: 328px;
}

.discover-card {
  min-height: 360px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.discover-card .card-title {
  margin-top: 8px;
}

.discover-card .card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.show-details-description {
  background: none;
}
