.main-window {
  min-width: 360px;
}

.image-md {
  min-height: 328px;
  min-width: 328px;
}

.episode-row-image {
  min-height: 48px;
  min-width: 48px;
}

.explore-card {
  min-height: 360px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-bottom: 4px;
}

.explore-card .card-title {
  margin-top: 8px;
}

.explore-card .card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.no-background {
  background: none;
}

.show-details-picture {
  border-radius: 8px;
}
